$bg-color: #1c75d4;
$txt-color: white;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $bg-color;
  color: white;
  font-size:24pt;
  font-family:Verdana;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
